<div id="<%= dom_id course %>">
 <div class="card">
   <div class="card-header">
     <h2 class="display-6"<%= course.title %></div>
   </div>
   <div class="card-body">
     <p class="lead"><%= course.description %></p>
   <div class="card-footer">
     <%= course.created_at %>
     <%= course.user %>
   </div>
 </div>
</div>
